.main-page-steps {
	width: 33% ;
	text-align: center ;
	vertical-align: top ;
	padding-left: 32px;
	padding-right: 32px;
}

.main-page-steps img {
	padding-bottom: 16px
}

input,
textarea,
select,
.uneditable-input {
	height: 28px
}